/* src/index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.welcome {
  background-color: hsl(131, 76%, 41%);
  border: 2px solid #388e3c;
  padding: 20px;
  color: white;
  text-align: center;
}
